@charset "utf-8"

main{
background-color: white;
box-shadow: 30px 30px 30px #40e0d0;

font-family: 'Courier New', Courier, monospace;

font:italic

}

h1{
font-size: 3em;

}
h2{
font-size: 2em;

}

p{
    font-size: 1em;
}



body{
    background-image: radial-gradient(circle, #40e0d0, #0000FF);



}